* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* ====================================== Common CSS ===================================================== */

.container {
    max-width: 1030px;
    margin: 0 auto;
}

a:hover {
    /* color: #1a6ebf; */
    text-decoration: initial;
}

p {
    margin-bottom: initial;
}

button:focus {
    outline: initial;
    cursor: pointer;
}

.btn.focus,
.btn:focus {
    outline: initial;
    box-shadow: initial;
}

:focus-visible {
    outline: initial;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: initial;
}

label {
    margin-bottom: initial;
}

a {
    text-decoration: none;
}


/* crypto-bot */

.cryptobot {
    background-image: url(../images/Crypto\ BG\ 1.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 36px 55px;
    overflow: auto;
}

.cryptobot__title {
    font-family: Balsamiq Sans;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    background: linear-gradient( to top, #f3b53d, #ed6c37);
    background: -webkit-linear-gradient( top, #f3b53d, #ed6c37);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

.cryptobot__content {
    width: 100%;
    max-width: 485px;
    margin: auto;
}

.crypto__headline {
    font-family: Balsamiq Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.88);
    padding: 25px 0px 8px;
    text-transform: capitalize;
}

.botbtn {
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #171717;
    background: linear-gradient( 0deg, #f3b53d, #ed6c37);
    background: -webkit-linear-gradient( 0deg, #f3b53d, #ed6c37);
    text-align: center;
    margin: 32px auto 20px;
    padding: 18px 20px;
    max-width: 200px;
}

.botbtn--stop {
    color: #FCFCFC;
    background: transparent;
    max-width: 282px;
    position: relative;
    margin: initial;
}

.botbtn--stop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    background: linear-gradient( 360deg, #f3b53d, #ed6c37);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    background: -webkit-linear-gradient( 360deg, #f3b53d, #ed6c37);
    -webkit-mask-composite: source-out;
    mask-composite: exclude;
}


/* select CSS */

.cryptobot__select {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 173px;
    text-overflow: ellipsis;
}

.cryptobot .select-items h3:hover {
    background: rgba(0, 0, 0, 0.1);
}

.cryptobot__select:after {
    top: 17px;
    font-family: 'FontAwesome';
    right: 26px;
    content: "\f00d";
    font-size: 15px;
    color: rgb(255 255 255 / 88%);
    position: absolute;
}

.select-items h3 {
    padding: 17px 16px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    height: 64px;
    max-width: 484px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    background: #232323;
}

.select-items {
    position: relative;
    top: 9px;
    left: 0;
    right: 0;
    z-index: 99;
    background: #232323;
    border: 3px solid #171717;
    box-sizing: border-box;
    box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.04), 6px 6px 12px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    width: 100%;
}

.cryptobot__holder {
    box-shadow: -6px -6px 12px rgb(255 255 255 / 2%), 6px 6px 12px rgb(0 0 0 / 16%);
    border-radius: 16px;
    width: 100%;
    max-width: 484px;
    background-color: #171717 !important;
    padding: 17px 16px;
    height: 64px;
    position: relative;
}


/* search */

.searchbot__img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.searchbot__data {
    height: 362px;
    width: 100%;
    max-width: 420px;
    background: #171717;
    border-radius: 16px;
    padding: 16px 12px 0px;
    overflow: hidden;
}

.searchbot__h3 {
    max-width: 396px;
    height: 40px;
    /* Body Small */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    /* White-Medium */
    color: rgba(255, 255, 255, 0.88);
    width: 100%;
    padding: 0px 0px 53px;
}

.searchbot {
    background-image: url(../images/Crypto\ BG\ 1.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 33px 68px;
    overflow: auto;
}

.searchbot__bind {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.datasearch {
    width: 100%;
}

.botbtn--search {
    margin: 32px 0px 24px;
}

.searchbot .custom-select {
    max-width: 339px;
}

.datasearch__section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    padding: 19px 0px 0px;
    justify-content: center;
}

.datasearch__section {
    max-width: 339px;
}


/* result */

.resultbot {
    background-image: url(../images/Crypto\ BG\ 1.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 33px 68px;
    overflow: auto;
}

.resultbot .crypto__headline {
    text-align: center;
    padding: 72px 0px 36px;
}

.resultbot__link {
    max-width: 648px;
    top: 214px;
    /* Base */
    background: #171717;
    border-radius: 16px;
    width: 100%;
    padding: 8px 8px 8px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.resultbot .cryptobot__content {
    max-width: 648px;
    text-align: center;
}

.resultbot .botbtn--search {
    margin: 0;
    width: 100%;
    max-width: 124px;
    padding: 12px 10px;
    border-radius: 16px;
}

.resultbot__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    white-space: break-spaces;
}

.resultbot .botbtn--stop {
    margin: 64px 0px;
    padding: 18px 20px;
}

.resultbot .arrow {
    height: 24px;
    width: 24px;
    margin-top: -3px;
    object-fit: contain;
    margin-left: 13px;
}


/*================== login-bot ==================*/

.formbot__input {
    margin-top: 4px;
    padding: 17px 16px;
    width: 100%;
    height: 64px;
    max-width: 484px;
    border-radius: 16px;
    line-height: 24px;
    background: #171717;
    text-transform: capitalize;
    box-shadow: -6px -6px 12px rgb(255 255 255 / 2%), 6px 6px 12px rgb(0 0 0 / 16%);
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}


/* ====================================== Media-Queries ===================================================== */

@media(max-width: 992px) {
    /* search css */
    .searchbot__bind {
        flex-direction: column-reverse;
    }
    .datasearch__section {
        max-width: 420px;
    }
    .searchbot {
        padding: 33px 35px;
    }
    .searchbot__data {
        margin: 0px auto 15px;
    }
    /* resultbot */
    .resultbot {
        padding: 33px 15px;
    }
}

@media(max-width: 768px) {
    /* result css */
    .resultbot__link {
        flex-direction: column;
        padding: 20px;
    }
    .resultbot__text {
        padding: 0px 0px 12px;
    }
}

@media(max-width: 576px) {
    /* common css */
    .cryptobot {
        padding: 36px 15px;
    }
    .cryptobot__title {
        font-size: 36px;
        padding: 0px 0px 14px;
    }
    .crypto__headline {
        font-size: 22px;
    }
    .botbtn {
        padding: 16px 20px;
        max-width: 165px;
    }
    /* searchcss */
    .searchbot {
        padding: 33px 15px;
    }
    .searchbot__h3 {
        font-size: 12px;
    }
    .botbtn--stop {
        max-width: 223px;
    }
    .searchbot__img {
        height: 180px;
        width: 180px;
        object-fit: contain;
    }
    /* result css */
    .resultbot__link {
        padding: 14px 20px 10px;
    }
    .botbtn {
        font-size: 15px;
    }
    .resultbot .arrow {
        margin-left: 3px;
    }
    .resultbot .botbtn--stop {
        padding: 18px 6px;
    }
    .resultbot__text {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        max-width: 240px;
        text-overflow: ellipsis;
    }
}